<section class="home">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="All Series">
                <md-content class="md-padding">
                    <md-card class="md-padding">
                        <h1 class="md-display-1" md-colors="{color:'amber'}">All Series</h1>
                    </md-card>
                    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                        <md-whiteframe ng-repeat="serie in allSeries | limitTo:totalDisplayed" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                            <span class="serieBloc">
                                <img ng-click="displayASerie(serie.id)" onclick="window.top.window.scrollTo(0,0);" src="https://image.tmdb.org/t/p/w300{{ serie.poster_path }}"> <br />
                                <div>
                                    <span class="md-title" ng-click="displayASerie(serie.id)" onclick="window.top.window.scrollTo(0,0);">{{ serie.name }}</span>
                                </div>
                            </span>
                        </md-whiteframe>
                    </div>
                </md-content>
            </md-tab>
            <md-tab ng-repeat="genre in genresArray" label="{{ genre.name }}" ng-click="displaySeriesByGenre(genre.id)">
                <md-content class="md-padding">
                    <md-card class="md-padding">
                        <h1 class="md-display-1" >{{ genre.name }}</h1>
                    </md-card>
                    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                        <md-whiteframe ng-repeat="infoSerie in seriesByGenre | limitTo:totalDisplayed" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                            <span class="serieBloc">
                                <img ng-click="displayASerie(infoSerie.id)" onclick="window.top.window.scrollTo(0,0);" src="https://image.tmdb.org/t/p/w300{{ infoSerie.poster_path }}"> <br />
                                <div>
                                    <span class="md-title" ng-click="displayASerie(serie.id)" onclick="window.top.window.scrollTo(0,0);">{{ infoSerie.name }}</span>
                                </div>
                            </span>
                        </md-whiteframe>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>

        <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-button class="md-fab md-raised md-primary" aria-label="Load more" ng-click="loadMore()">
                <md-icon>arrow_downward</md-icon>
            </md-button>
        </section>
        </md-card>
    </md-content>
</section>