<section class="home">
    <div class="tabsdemoDynamicHeight" ng-app="MyApp">
        <md-content>
            <md-tabs md-border-bottom>
                <md-tab label="All Series">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">All Series</h1>
                        <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>

                            <md-whiteframe ng-repeat="serie in allSeries track by $index" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                                <span>{{ serie.name }}</span>
                            </md-whiteframe>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab ng-repeat="genre in genresArray" label="{{genre}}" ng-click="displayInfoSerie(genre)">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">{{ genre }}</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</section>