<section class="tracking">
    <div ng-show='connected'>
        <md-content>
            <md-content class="md-padding">
                <md-card class="md-padding">
                    <h1 class="md-display-1" >My Tracking</h1>
                </md-card>
                <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                    <md-whiteframe ng-repeat="serie in seriesFollowed" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
                        <span class="serieBloc">
                            <img ng-click="displayASerie(serie.id)" src="https://image.tmdb.org/t/p/w300{{ serie.poster_path }}"> <br />
                            <div>
                                <span class="md-title" ng-click="displayASerie(serie.id)">{{ serie.name }}</span>
                            </div>
                        </span>
                    </md-whiteframe>
                </div>
            </md-content>
        </md-content>
    </div>
    <div ng-show='!connected'>
        <md-card class="md-primary">
            <span>Please, <span ng-click="connect()" md-colors="{color: 'primary'}">connect you</span> !</span>
        </md-card>
    </div>
</section>