<section class="registration">
    <div ng-show="!connected">
        <md-card class="formConnectionRegistration" >
            <md-card-title>
                <md-card-title-text class="md-display-1">
                    <span ng-click="redirectSignIn()">Sign in</span>
                </md-card-title-text>
                <md-card-title-text class="md-display-1">
                    Sign up
                </md-card-title-text>
            </md-card-title>
                <md-card-content>
                    <form name="registrationForm" ng-submit="registration()">
                        <md-input-container class="md-block">
                            <md-icon>perm_identity</md-icon>
                            <label>Username</label>
                            <input ng-minlength="4" required name="username" ng-model="registration.username" type="text">
                            <md-icon ng-mouseover="usernameHelp=true" ng-mouseleave="usernameHelp=false">help</md-icon>
                            <div ng-messages="registrationForm.username.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="minlength">Username is too short.</div>
                            </div>
                            <span ng-show="usernameHelp" md-colors="{color:'blue'}">4 chars minimum.</span>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon>email</md-icon>
                            <label>Email</label>
                            <input ng-model="registration.email" name="email" type="email" required>
                            <div ng-messages="registrationForm.email.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon>lock_outline</md-icon>
                            <label>Password</label>
                            <input ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" ng-model="registration.password" name="password" type="password" required>
                            <md-icon ng-mouseover="usernamePassword=true" ng-mouseleave="usernamePassword=false">help</md-icon>
                            <div ng-messages="registrationForm.password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="pattern">Password do not match with pattern.</div>
                                <div ng-message="minlength">Password is too short.</div>
                            </div>
                            <span ng-show="usernamePassword" md-colors="{color:'blue'}">8 chars minimum. Must contains at least 1 digit, 1 lowercase and 1 uppercase.</span>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <md-icon>lock</md-icon>
                            <label>Confirm password</label>
                            <input ng-model="registration.confirm_password" type="password" name="confirm_password" required equals-to="registrationForm.password" />
                            <div ng-messages="registrationForm.confirm_password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="equalsTo">Password are differents.</div>
                            </div>
                        </md-input-container>

                        <md-card-actions>
                            <md-button type="reset">
                                <md-icon>cached</md-icon> Reset
                            </md-button>
                            <md-button class="md-primary" ng-disabled="!registrationForm.$valid" ng-click="toRegistrate()">
                                <md-icon md-colors="{color:'primary-hue-1'}" ng-show="registrationForm.$valid">done</md-icon > Sign up
                            </md-button>
                        </md-card-actions>

                        <md-card-actions>
                            <span md-colors="{color: 'red'}">{{ errors }}</span>
                        </md-card-actions>
                    </form>

                </md-card-content>
        </md-card>
    </div>
</section>