<section class="registration">
    <div>
        <md-card class="md-primary">
            <md-card-title>
                <md-card-title-text>
                    Sign up
                </md-card-title-text>
            </md-card-title>
                <md-card-content>
                    <form name="registrationForm" ng-submit="registration()">
                        <md-input-container class="md-block">
                            <label>Username</label>
                            <input ng-minlength="4" required name="username" ng-model="username" type="text">
                            <div ng-messages="registrationForm.username.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="minlength">Username is too short.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Email</label>
                            <input ng-model="email" name="email" type="email" required>
                            <div ng-messages="registrationForm.email.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/" ng-model="password" name="password" type="password" required>
                            <div ng-messages="registrationForm.password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="pattern">Password do not match with pattern.</div>
                                <div ng-message="minlength">Password is too short.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Confirm password</label>
                            <input ng-model="registrationForm.confirm_password" type="password" name="confirm_password" required equals-to="registrationForm.password" />
                            <div ng-messages="registrationForm.confirm_password.$error">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="equalsTo">Password are differents.</div>
                            </div>
                        </md-input-container>

                        <md-card-actions>
                            <md-button class="md-primary" ng-disabled="!registrationForm.$valid" ng-click="toRegistrate()">
                                Sign up
                            </md-button>
                        </md-card-actions>
                    </form>

                </md-card-content>
        </md-card>
    </div>
</section>