<section class="series">
    <div>
        <md-content>
            <md-card>
                <md-card-title-text style="margin-bottom: 20px">
                    <span class="md-headline" style="padding: 5px">{{ serieName }}</span>
                    <md-button ng-show="connected && followOrNot == 'false'" ng-click='followASerie(serieId)' class='md-raised'>Follow</md-button>
                    <md-button ng-show="connected && followOrNot == 'true'" ng-click='unfollowASerie(serieId)' class='md-raised'>Unfollow</md-button>
                </md-card-title-text>
                <div layout="row" flex>
                    <div id="content">
                        Overview : {{ overview }}<br><br>
                        Number of seasons : {{ numberOfSeasons }}<br><br>
                        Popularity : {{ popularity }}<br><br>
                        Creator : {{ creatorName }}
                    </div><br>
                    <md-card-title-media>
                        <img id="poster" src="https://image.tmdb.org/t/p/w300{{ poster }}">
                    </md-card-title-media>
                </div>
            </md-card>
            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="season in seasonsArray" label="{{ season.name }}" ng-click="displayEpisodes(season.id)">
                        <md-content class="md-padding" >
                            <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
                                    <div ng-repeat="episode in episodesArray" style="width: 100%">
                                        {{ episode.name }}
                                        <ul ng-init="episode.saw = checkIfSaw(episode.id)">
                                            <li>{{ episode.air_date }}</li>
                                            <li ng-mouseover="displayActors(episode.id)">Show actors</li>
                                            <div ng-if="connected && followOrNot == 'true'">
                                                <li ng-show="!episode.saw"><md-button ng-click="seeEpisode(episode.id)" class='md-raised'>Seen</md-button></li>
                                                <li ng-show="episode.saw"><md-button ng-click="seeEpisode(episode.id)" class='md-raised md-primary'>Seen</md-button></li>
                                            </div>
                                        </ul>
                                        <div class="md-list-item-text">
                                            <h3></h3>
                                            <h3 ></h3>
                                        </div>
                                        <md-divider></md-divider>
                                    </div>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-card>
            <!--ng-show="checkIfSaw(episode.id) == 'false'" -->
            <!--ng-show="checkIfSaw(episode.id) == 'true'" -->
        </md-content>
    </div>
</section>