<section class="series">
    <div>
        <md-content>
            <md-card class="md-padding">
                <md-card-title-text style="margin-bottom: 20px">
                    <span class="md-display-1" style="padding: 5px">{{ serieName }}</span>
                    <md-button ng-show="connected && followOrNot == 'false'" ng-click='followASerie(serieId)' class="md-fab md-raised md-accent">
                        <md-icon>add_cirle</md-icon>
                    </md-button>

                    <md-button ng-show="connected && followOrNot == 'true'" ng-click='unfollowASerie(serieId)' class="md-fab md-raised md-primary">
                        <md-icon>check_cirle</md-icon>
                    </md-button>
                </md-card-title-text>
                <div layout="row" flex>
                    <md-card-title-media>
                        <img class="poster" src="https://image.tmdb.org/t/p/w300{{ poster }}">
                    </md-card-title-media>
                    <div id="content">
                        Overview : {{ overview }}<br><br>
                        Number of seasons : {{ numberOfSeasons }}<br><br>
                        Popularity : {{ popularity }}<br><br>
                        Creator : {{ creatorName }}
                    </div><br>
                </div>
            </md-card>
            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="season in seasonsArray" label="{{ season.name }}" ng-click="displaySeasonsDetails(season.id)">
                        <md-content ng-show="showSeasons" class="md-padding">
                            <md-card class="md-padding seasonDetails">
                                <img class="poster" src="https://image.tmdb.org/t/p/w300{{ seasonPoster }}">
                                <p>
                                    <span class='md-display-1' md-colors="{color: 'primary'}">{{ seasonName }}</span>
                                    <md-input-container flex="50">
                                        <label>Episodes</label>
                                        <md-select  ng-model="episode.name">
                                            <md-option ng-repeat="episode in episodes" ng-click="displayEpisode(episode.id)">{{ episode.number }} : {{ episode.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </p>
                                <p><span md-colors="{color: 'primary'}">Air date </span>: {{ seasonAirDate }}</p>
                                <p><span md-colors="{color: 'primary'}">Overview : </span>{{ seasonOverview }}</p>
                            </md-card>

                            <md-card ng-show="showEpisode" class="md-padding episodeDetails">
                                <img class="poster" src="https://image.tmdb.org/t/p/w300{{ episodePoster }}">
                                <p><span class='md-display-1' md-colors="{color: 'primary'}">{{ episodeName }}</span>
                                    <span ng-if="connected && followOrNot == 'true'">
                                        <span ng-show="!episodeSeen">
                                            <md-button ng-click="seeEpisode(episodeId)">
                                                <md-icon>visibility</md-icon>
                                            </md-button>
                                        </span>
                                        <span ng-show="episodeSeen">
                                            <md-button ng-click="unseenEpisode(episodeId)">
                                                <md-icon md-colors="{color: 'primary'}">visibility</md-icon>
                                            </md-button>
                                        </span>
                                    </span>
                                </p>
                                <p><span md-colors="{color: 'primary'}">Air date</span> : {{ episodeAirDate }}</p>
                                <p><span md-colors="{color: 'primary'}">Actors</span> : {{ episodeActors }} </p>
                                <p><span md-colors="{color: 'primary'}">Overview </span>: {{ episodeOverview }}</p>
                            </md-card>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-card>
        </md-content>
    </div>
</section>