<section class="series">
    <div>
        <md-content>
            <md-card class="md-padding">
                <md-card-title-text style="margin-bottom: 20px">
                    <span class="md-headline" style="padding: 5px">{{ serieName }}</span>
                    <md-button ng-show="connected && followOrNot == 'false'" ng-click='followASerie(serieId)' class='md-raised'>Follow</md-button>
                    <md-button ng-show="connected && followOrNot == 'true'" ng-click='unfollowASerie(serieId)' class='md-raised'>Unfollow</md-button>
                </md-card-title-text>
                <div layout="row" flex>
                    <md-card-title-media>
                        <img class="poster" src="https://image.tmdb.org/t/p/w300{{ poster }}">
                    </md-card-title-media>
                    <div id="content">
                        Overview : {{ overview }}<br><br>
                        Number of seasons : {{ numberOfSeasons }}<br><br>
                        Popularity : {{ popularity }}<br><br>
                        Creator : {{ creatorName }}
                    </div><br>
                </div>
            </md-card>
            <md-card>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab ng-repeat="season in seasonsArray" label="{{ season.name }}" ng-click="displaySeasonsDetails(season.id)">
                        <md-content class="md-padding">
                            <div class="md-padding seasonDetails">
                                <img class="poster" src="https://image.tmdb.org/t/p/w300{{ seasonPoster }}">
                                <p>{{ seasonName }}</p>
                                <p>Air date : {{ seasonAirDate }}</p>
                                <p>{{ seasonOverview }}</p>
                                <p>
                                    <md-input-container flex="50">
                                        <label>Episodes name</label>
                                        <md-select ng-repeat="episode in episodes">
                                            <md-option ng-click="displayEpisode(episode.id)">{{ episode.name }}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </p>
                            </div>

                            <div ng-show="showEpisode" class="md-padding episodeDetails">
                                <img class="poster" src="https://image.tmdb.org/t/p/w300{{ episodePoster }}">
                                <p>{{ episodeName }}
                                    <div ng-if="connected && followOrNot == 'true'">
                                        <span ng-show="!episode.saw"><md-button ng-click="seeEpisode(episode.id)" class='md-raised'>Seen</md-button></span>
                                        <span ng-show="episode.saw"><md-button ng-click="seeEpisode(episode.id)" class='md-raised md-primary'>Seen</md-button></span>
                                    </div>
                                </p>
                                <p>{{ episodeAirDate }}</p>
                                <p>{{ episodeOverview }}</p>
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-card>
        </md-content>
    </div>

    <script type="text/ng-template" id="toast-template.html">
        <md-toast>
            <md-button class="md-highlight" ng-click="openMoreInfo($event)">
                Synopsis
            </md-button>
            <md-button class="md-highlight" ng-click="openActors($event)">
                Actors
            </md-button>
            <md-button ng-click="closeToast()">
                Close
            </md-button>
        </md-toast>
    </script>

</section>