<md-dialog aria-label="Change password" class="dialogPassword">
    <md-card-title class="md-display-1 md-padding" md-colors="{color: 'primary-hue-2'}">
        Welcome on TVSeries
    </md-card-title>
    <md-card-content>
        <p class="md-padding">We inform you that this website using cookies.</p>
    </md-card-content>
    <md-card-actions>
        <md-button ng-click="guest()" md-colors="{color: 'accent'}">
            Continue as guest
        </md-button>
        <md-button ng-click="connect()" md-colors="{color:'accent'}">
            Connect you
        </md-button>
    </md-card-actions>
</md-dialog>