<md-dialog aria-label="Find a Serie" class="findSerie">
    <md-input-container>
        <form name="formSearch">
            <label><md-icon>search</md-icon> Find a serie</label>
            <input type="text" ng-model="inputSearch" ng-change="inputSearchChange()"/>
        </form>
            <md-list>
                <md-list-item class="serieFind" ng-repeat="serie in serieSearch" ng-click="goToSerie(serie.id)">
                   <p>{{serie.name}}</p>
                </md-list-item>
            </md-list>
    </md-input-container>
</md-dialog>