

md-toolbar  {
    color: #70a23e;
}

body{
    height: 100%;
}

.index{
}
.sidenav{
    margin-left: 5%;
    float: right;
    border: solid 10px red;
    height: 100%;
}
.menu{
    margin-left: 5px;
    margin-right: 5px;
}

.view{
    position: relative;
    z-index: 1;
}