md-toolbar  {
    color: #70a23e;
}

body{
    height: 100%;
}

.serieBloc {
    padding: 15px;
    background-color: #424242;
    min-width: 300px;
    height: 520px;
    position: relative;
}

.serieBloc img {
    margin: auto;
    display: block;
}

.serieBloc div {
    position: absolute;
    bottom: 0;
    width: 98%;
}

.index{
}

.sidenav{
    margin-left: 5%;
    float: right;
    height: 100%;
}
.menu{
    margin-left: 5px;
    margin-right: 5px;
}

.view{
    position: relative;
    z-index: 1;
}

.poster{
    float: left;
}

#content{
    padding:5px;
}

.seasonDetails {
    width: 45%;
    float: left;
}

.episodeDetails {
    width : 45%;
    float: right;
}

.articleProfil {
    width: 48%;
}

#articleInformations {
    margin: auto;
    width: 60%;
}

.formConnectionRegistration {
    width: 40%;
    margin: 3% auto auto;
}

md-card-title-text {
    text-align: center;
}

.notActive {
    background-color: #9E9E9E;
}

.dialogPassword {
    width: 40%;
    margin: auto;
}

.dialogPasswordInput {
    width: 90%;
    margin: auto;
}